[data-theme='dark'] {
	--color-50: #161616;
	--color-100: #e0e0e0;
	--color-200: #373333;
	--color-300: #2c2c2c;
	--color-400: #141313;
	--color-500: #909090;
	--color-600: #757575;
	--color-700: #606060;
	--color-800: #525252;
	--color-900: #454545;
	--color-A100: #383838;
	--color-A200: #2c2c2c;
	--color-A400: #1e1e1e;
	--color-A700: #121212;
	--color-b-500: #2196f3;
	--color-b-700: #2962ff;
	--color-btn: #1677ff;
	--color-r-500: #ed5146;
	--color-r-700: #b90606;
	--color-g-500: #6feb6f;
	--color-g-700: #347928;
	--color-table: #009fbd;
	--color-bg: #000000;
	--color-text: #ffffff;
}
