[data-theme='light'] {
	--color-50: #ffffff;
	--color-100: #f7f7f7;
	--color-200: #efefef;
	--color-300: #e8e8e8;
	--color-400: #e0e0e0;
	--color-500: #d8d8d8;
	--color-600: #cfcfcf;
	--color-700: #c7c7c7;
	--color-800: #bfbfbf;
	--color-900: #b7b7b7;
	--color-A100: #afafaf;
	--color-A200: #a7a7a7;
	--color-A200: #9f9f9f;
	--color-A50: #979797;
	--color-b-300: #32a1fb;
	--color-b-500: #2196f3;
	--color-b-700: #2962ff;
	--color-btn: #1677ff;
	--color-r-500: #f44336;
	--color-r-700: #d50000;
	--color-g-500: #d2ff72;
	--color-g-700: #347928;
	--color-table: #009fbd;
	--color-bg: #ffffff;
	--color-text: #000000;
}
